---
name: Deploy

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  release:
    types:
      - published

permissions: {}

jobs:
  ci:
    permissions:
      actions: read
      contents: read
      packages: read
      security-events: write
    uses: erik73/workflows/.github/workflows/app-ci.yaml@860e4cf2f05e4a2c18c678a5bd4f100ee0259cf5 # v1.0.5

  deploy:
    needs: ci
    permissions:
      contents: read
      packages: write
    uses: erik73/workflows/.github/workflows/app-deploy.yaml@860e4cf2f05e4a2c18c678a5bd4f100ee0259cf5 # v1.0.5
    secrets:
      DISPATCH_TOKEN: ${{ secrets.DISPATCH_TOKEN }}
