---
name: Deploy

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  release:
    types:
      - published

permissions: {}

jobs:
  ci:
    permissions:
      actions: read
      contents: read
      packages: read
      security-events: write
    uses: erik73/workflows/.github/workflows/app-ci.yaml@0d708a724ff0548b48e5aee5252cb33af09cc6db # v1.0.10

  deploy:
    needs: ci
    permissions:
      contents: read
      packages: write
    uses: erik73/workflows/.github/workflows/app-deploy.yaml@0d708a724ff0548b48e5aee5252cb33af09cc6db # v1.0.10
    secrets:
      DISPATCH_TOKEN: ${{ secrets.DISPATCH_TOKEN }}
